
/* General Page Styling */
body {
    /*font-family: Verdana, sans-serif;*/
    background: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Header */
h1, h2 {
    color: #222;
    /*font-weight: bold;*/
    margin-bottom: 10px;
}

/* Form Container */
form {
    background: #e9ecef;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto;
    text-align: left;
}

.form-row-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: -20px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

.form-row-double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-row-top input {
    flex: 1 1 30%; /* Allow inputs to take up to 30% of the container */
    min-width: 50px; /* Ensure they are not too small */
    max-width: 100px; /* Limit the max width of the inputs */
    padding: 10px;
    margin-bottom: 10px;
}

.empty-space {
    visibility: hidden;
}

/* Labels */
label {
    /*font-weight: bold;*/
    font-size: 14px;
}

/* Input Fields */
input {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #aaa;
    font-size: 14px;
    background: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    flex_basis: 0;
}

select {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #aaa;
    font-size: 14px;
    background: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    flex_basis: 0;
}

/* Focus Effect for Inputs */
input:focus {
    border-color: #555;
    outline: none;
}

/* Submit Button */
button {
    background: #6c757d; /* Grey */
    color: white;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #5a6268; /* Darker grey */
}

/* Uploaded Data Display */
p {
    font-size: 16px;
    font-weight: bold;
}

/* Image Styling */
img {
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

/* Result Box Styling */
.result-box {
    background: #e9ecef;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 370px;
    margin: 20px auto;
    text-align: left;
}

.result-box p {
    margin: 5px 0; /* Reduces space between paragraphs */
}

*/