<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pressure Decay Test Tool - Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2 style="text-align: center">Pressure Decay Test Analysis Tool</h2>

    <p>Sorry, some general error has been produced, which has not been fixed yet. The error message is:</p>
    <p style="color: red;">- {{ errors }}</p>
    <p>Please send a message to <a href="mailto:youri.penders@cern.ch">youri.penders@cern.ch</a> to see if we can get it fixed!</p>

    <footer>
    <small>Made by the EP-DT-FS section at CERN. <a href="mailto:youri.penders@cern.ch">Contact</a> for inquiries or bugs.</small>
    </footer>
</body>
</html>