<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pressure Decay Tests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2 style="text-align: center">Pressure Decay Test Analysis Tool</h2>

        <p style="text-align: center; margin-top: 10px;">
            Welcome to the pressure decay test analysis tool. Use this tool to upload pressure decay test data and automatically calculate and plot leak rates and system volumes. Click
          <a href="/instructions" target="_blank">
            here
          </a> for detailed instructions.
        </p>

        <form action="/analysis" method="POST" enctype="multipart/form-data">
            <label> System Name:</label>
            <input type="text" name="system_name" placeholder="system name" value="{{ params.system_name if params else '' }}" required>

            <label> Header Row:</label>
            <input type="number" name="start_row" min="1" placeholder="row" value="{{ params.start_row if params else '' }}" required>

            <label> Column numbers for 'date', 'pressure' and 'temperature' with format and units:</label>
            <div class="form-row-top">
            <input type="number" name="col_date" min="1" placeholder="date" value="{{ params.col_date if params else '' }}" required>
            <input type="number" name="col_pressure" min="1" placeholder="pressure" value="{{ params.col_pressure if params else '' }}" required>
            <input type="number" name="col_temperature" min="1" placeholder="temperature" value="{{ params.col_temperature if params else '' }}" required>
            </div>

            <div class="form-row">

                {% set simex_select = "selected" if params.format_date == "simex" else "" %}
                {% set scada_select = "selected" if params.format_date == "scada" else "" %}
                {% set xls_select = "selected" if params.format_date == "xls" else "" %}
                {% set unix_select = "selected" if params.format_date == "unix" else "" %}
                {% set custom_select = "selected" if params.format_date == "custom" else "" %}

            <select name="format_date" id="format_date" required oninput="document.getElementById('custom_format_container').style.display = (this.value === 'custom') ? 'block' : 'none'">
                <option value="simex" {{ simex_select }}>simex</option>
                <option value="scada" {{ scada_select }}>scada</option>
                <option value="xls" {{ xls_select }}>xls</option>
                <option value="unix" {{ unix_select }}>unix</option>
                <option value="custom" {{ custom_select }}>custom</option>
            </select>

                {% set ba_select = "selected" if params.unit_pressure == "bara" else "" %}
                {% set bg_select = "selected" if params.unit_pressure == "barg" else "" %}
                {% set pa_select = "selected" if params.unit_pressure == "Pa" else "" %}
                {% set kpa_select = "selected" if params.unit_pressure == "kPa" else "" %}
                {% set psi_select = "selected" if params.unit_pressure == "psi" else "" %}

            <select name="unit_pressure" required>
                <option value="bara" {{ ba_select }}>bara</option>
                <option value="barg" {{ bg_select }}>barg</option>
                <option value="Pa" {{ pa_select }}>Pa</option>
                <option value="kPa" {{ kpa_select }}>kPa</option>
                <option value="psi" {{ psi_select }}>psi</option>
            </select>

                {% set c_select = "selected" if params.unit_temperature == "C" else "" %}
                {% set k_select = "selected" if params.unit_temperature == "K" else "" %}
                {% set f_select = "selected" if params.unit_temperature == "F" else "" %}

            <select name="unit_temperature" required>
                <option value="C" {{ c_select }}>celsius</option>
                <option value="K" {{ k_select }} >kelvin</option>
                <option value="F" {{ f_select }}>fahrenheit</option>
            </select>
            </div>

            <div id="custom_format_container" style="display {% if params.format_date == 'custom' %}block{% else %}none{% endif %};">
                <label>Custom date string format:</label>
                <input type="text" name="custom_format" placeholder="%d/%m/%Y %H:%M:%S"
                    value="{{ params.custom_format if params else '' }}">
            </div>

            <label for="volume"> System Volume, or Filled Gas Amount:<br> </label>
            <div class="form-row-double">
            <input type="number" id="volume" name="volume" step="0.001" min="0.001" placeholder="volume or mass" value="{{ params.volume if params else '' }}" >

                    {% set l_select = "selected" if params.unit_volume == "liter" else "" %}
                    {% set m3_select = "selected" if params.unit_volume == "m3" else "" %}
                    {% set kg_select = "selected" if params.unit_volume == "kg" else "" %}
                    {% set g_select = "selected" if params.unit_volume == "gr" else "" %}

            <select name="unit_volume" required>
                <option value="liter" {{ l_select }}>litre</option>
                <option value="m3" {{ m3_select }}>m^3</option>
                <option value="kg" {{ kg_select }}>kilogram</option>
                <option value="gr" {{ g_select }}>grams</option>
            </select>
            </div>

            <label> Test Medium:</label>

            {% set co2_select = "selected" if params.medium == "CO2" else "" %}
            {% set argon_select = "selected" if params.medium == "argon" else "" %}
            {% set forming_select = "selected" if params.medium == "forming gas" else "" %}
            {% set air_select = "selected" if params.medium == "air" else "" %}
            {% set nitrogen_select = "selected" if params.medium == "nitrogen" else "" %}
            {% set krypton_select = "selected" if params.medium == "krypton" else "" %}
            {% set ammonia_select = "selected" if params.medium == "ammonia" else "" %}

            <!-- {% set custom_medium = "selected" if params.format_date == "custom" else "" %} -->

            <select name="medium" required>
                <option value="CO2" {{ co2_select }}>carbon dioxide</option>
                <option value="argon" {{ argon_select }}>argon</option>
                <option value="forming gas" {{ forming_select }}>forming gas (95% N2/5% H2)</option>
                <option value="air" {{ air_select }}>air</option>
                <option value="nitrogen" {{ nitrogen_select }}>nitrogen</option>
                <option value="krypton" {{ krypton_select }}>krypton</option>
                <option value="ammonia" {{ ammonia_select }}>ammonia</option>

                <!-- <option value="custom" {{ custom_select }}>custom</option> -->
            </select>

            <label for="start_time">Analysis Start Time: <small>(typically 24 hours after initial pressurisation)</small></label>
            <input type="datetime-local" id="start_time" name="start_time" value="{{ params.start_time if params else '' }}" >

            <div id="end_time_container">
            <input type="datetime-local" id="end_time" name="end_time" value="{{ params.end_time if params['periodic_limit_off'] else '' }}" >
            </div>

            <label class="inline-checkbox-label" for="periodic_limit_off">
            <input type="checkbox" id="periodic_limit_off" name="periodic_limit_off" value="checked" {% if params and params.periodic_limit_off %}checked{% endif %}>
            Select to set custom analysis end time
            </label>

            <label for="file"> Submit data:</label>
            <input type="file" id="file" name="file" accept=".csv, .xls, .xlsx" required>

            <button type="submit">Analyze!</button>

        </form>

    {% if errors %}
        <ul>
        <li style="color: red;">{{ errors }}</li>
        </ul>
    {% endif %}

    {% if results is not none %}
        <form action="\export" method="GET" class="result-box">
            <p><strong> Leak Rate (mass-density) :</strong> {{ results['mass_rate'] }} grams/year</p>
            <p><strong> Leak Rate (ideal gas law) :</strong> {{ results['ideal_gas_rate'] }} grams/year</p>
            <p><strong> Bubble Diameter Rate:</strong> {{ results['bubble_rate'] }} mm/s</p>
            {% if results['measured_volume'] is not none %}
                <p><strong> System Volume:</strong> {{ results['measured_volume'] }} litre</p>
            {% endif %}
            <p><strong> Stabilization Time:</strong> {{ results['stabilization_time'] }} hours</p>
            <p><strong> Total Leak Test Time:</strong> {{ results['total_test_time'] }} hours</p>
            <button type="submit">Export!</button>
            </form>



        <h3 style="text-align: center;">Pressure Decay Plots </h3>
    <div class="pressure-decay-plots">
        <img src="{{ url_for('get_plot') }}" alt="Pressure Decay Plot">
    </div>
    {% endif %}

    <script>
    function toggleCustomField() {
        var formatSelect = document.getElementById("format_date");
        var customField = document.getElementById("custom_format_container");
        customField.style.display = (formatSelect.value === "custom") ? "block" : "none";
    }

    document.addEventListener("DOMContentLoaded", toggleCustomField);
    document.getElementById("format_date").addEventListener("input", toggleCustomField);
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var checkbox = document.getElementById("periodic_limit_off");
        var endTimeContainer = document.getElementById("end_time_container");

        function toggleEndTime() {
            endTimeContainer.style.display = checkbox.checked ? "block" : "none";
        }

        checkbox.addEventListener("change", toggleEndTime);
        toggleEndTime(); // initial state on load
    });
    </script>

    <footer>
    <small>Made by the EP-DT-FS section at CERN. <a href="mailto:youri.penders@cern.ch">Contact</a> for inquiries or bugs.</small>
    </footer>
</body>
</html>